*{
margin: 0;
padding: 0;
}
.navbar{
border: none;
background-color: black;
color: #eeeeee;
}
body{
background-color: #ffffff;
color: rgb(0, 0, 0);
}
.glyphicon{
font-size: 30px;
color:#dfdfdf; 
}
.center{
width: 90%;
background-color: grey;
}
.container
{
background-color: rgb(138, 138, 138);
}
.text-center{
font-size: 30px;
align-items: center;
padding-bottom: 1em;
}
h2{
text-align: center;
}
#myNavbar ul li a {
color: #ffffff;
}
.navbar-brand{
font-size: 30px; 
}